@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #363732;
  --color-secondary: #dce1e9;
  --color-chili-red: #e3170a;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
